# Moises Abraham Rangel Hernadez.
#1951
#201716990

In [5]:
import sqlite3

In [6]:
conexion = sqlite3.connect("moises.db")

In [7]:
conexion = sqlite3.connect("moises.db")
#crecion del cursor
cursor = conexion.cursor()
conexion.close()

# Moises Abraham Rangel Hernandez

In [8]:
#conexion y cursor
conexion = sqlite3.connect("moises.db")
cursor = conexion.cursor()

#crecion de tabla
cursor.execute("CREATE TABLE heroes(email VARCHAR(100),especie VARCHAR(100),nombre VARCHAR(100), edad INTEGER)")
conexion.close()

In [9]:
#conexion y cursor
conexion = sqlite3.connect("moises.db")
cursor = conexion.cursor()
#se usa ahora el cursor para mandar la sentencia sql insertar datos
cursor.execute("INSERT INTO heroes VALUES('meliodas@dragon.com','demonio','meliodas',3000)")
#guarda los cambios
conexion.commit()
conexion.close()

In [10]:
#conexion y cursor
conexion = sqlite3.connect("moises.db")
cursor = conexion.cursor()
#sentencia select
cursor.execute("SELECT * FROM heroes")
# se ultiliza fetchone para tomar uno y asignar a la variable usuarios
usuarios= cursor.fetchone()
print(usuarios)

('meliodas@dragon.com', 'demonio', 'meliodas', 3000)

In [11]:
#conexion y cursor
conexion = sqlite3.connect("moises.db")
cursor = conexion.cursor()
#tupla que contiene los datos a ingresar
usuarios = [
    ('kakaroto@dragon.com','sayagin','goku',40),
    ('escannor@leon.com','humano','orgullo',30),
    ('ironman@soyironman.com','ingeniero filantropo playboy','tony strak',350),
    ('daynaris@targarean.com','reina','daynaris',20),
    ('homero@springflied.com','obrero','homero simpson',50)
]
#metodo esxcutemany que llamara a la tupla
cursor.executemany("INSERT INTO heroes VALUES (?,?,?,?)", usuarios)
#guardar los cambios
conexion.commit()
#cerrar conexion
conexion.close()

In [12]:
#conexion y cursor
conexion = sqlite3.connect("moises.db")
cursor = conexion.cursor()
#sentencia select
cursor.execute("SELECT * FROM heroes")
# se ultiliza fetchall para tomar todos y asignar a la variable usuarios
usuarios= cursor.fetchall()
#ahora para imprimir debemos usar un ciclo for
for i in usuarios:
    print(i)
conexion.close()

('meliodas@dragon.com', 'demonio', 'meliodas', 3000)
('kakaroto@dragon.com', 'sayagin', 'goku', 40)
('escannor@leon.com', 'humano', 'orgullo', 30)
('ironman@soyironman.com', 'ingeniero filantropo playboy', 'tony strak', 350)
('daynaris@targarean.com', 'reina', 'daynaris', 20)
('homero@springflied.com', 'obrero', 'homero simpson', 50)

# Moises ABraham Rangel Hernandez

In [17]:
import sqlite3
import csv

#conexion y cursor
conexion = sqlite3.connect("moises.db")
cursor = conexion.cursor()
#open permite abrir el archivo
archivo = open(r"C:\Users\Administrador\Desktop\008 datos_db.txt")
#la variable filas se le asigna reader y como argumento archivo
filas = csv.reader(archivo)
#aqui vamos a insertar las filas en la tabla heroes
cursor.executemany("INSERT INTO heroes VALUES (?,?,?,?)", filas)

cursor.execute("SELECT * FROM heroes")
print(cursor.fetchall())
conexion.commit()
conexion.close()

[('meliodas@dragon.com', 'demonio', 'meliodas', 3000), ('kakaroto@dragon.com', 'sayagin', 'goku', 40), ('escannor@leon.com', 'humano', 'orgullo', 30), ('ironman@soyironman.com', 'ingeniero filantropo playboy', 'tony strak', 350), ('daynaris@targarean.com', 'reina', 'daynaris', 20), ('homero@springflied.com', 'obrero', 'homero simpson', 50), ('paella@vip.com', 'Medicina', 'Giuliana', 27), ('crimewave@vip.com', 'Derecho', 'Alicia', 20), ('prince@orange.com', 'Ingenieria', 'William', 24), ('elrisortdewelini@vip.com', 'Nutrición', 'Chefsito', 25), ('planb@vip.com', 'Artes', 'Chencho', 30), ('channel@boyz.com', 'Letras', 'Frank', 32), ('vinos@aouju.com', 'Nutrición', 'Eugenia', 23)]