In [1]:
import numpy as np
import pandas as pd

In [12]:
data = pd.read_csv(r'C:\Users\Administrador\SQLite\031 data_celular.csv',
                  header=0,
                  index_col=0,
                  names=['indice', 'fecha', 'duracion', 'item', 'mes', 'red','tipo_red'],
                  parse_dates=['fecha'])
data.head()

                     fecha  duracion  item      mes       red tipo_red
indice
0      2014-10-15 06:58:00    34.429  data  2014-11      data     data
1      2014-10-15 06:58:00    13.000  call  2014-11  Vodafone   mobile
2      2014-10-15 14:46:00    23.000  call  2014-11    Meteor   mobile
3      2014-10-15 14:48:00     4.000  call  2014-11     Tesco   mobile
4      2014-10-15 17:27:00     4.000  call  2014-11     Tesco   mobile

In [6]:
print('cuantas filas tiene el dataframe: ')
print(data['item'].count())

cuantas filas tiene el dataframe:
830

In [9]:
print('el tiempo total en segundos regristrado en llamadas es: ')
print(data['duracion'][data['item']== 'call'].sum())

el tiempo total en segundos regristrado en llamadas es:
92321.0

In [10]:
print('con cuantas redes telefonicas se contacto; ')
print(data['red'].nunique())

con cuantas redes telefonicas se contacto;
9

In [13]:
data.groupby('mes')

In [14]:
print('en el siguiente cuadro se ve la cantidad de entradas de llamadas,sms y datos: \n \n', 
      data.groupby(['mes','item'])['duracion'].count())

en el siguiente cuadro se ve la cantidad de entradas de llamadas,sms y datos:

 mes      item
2014-11  call    107
         data     29
         sms      94
2014-12  call     79
         data     30
         sms      48
2015-01  call     88
         data     31
         sms      86
2015-02  call     67
         data     31
         sms      39
2015-03  call     47
         data     29
         sms      25
Name: duracion, dtype: int64

In [15]:
print('la duracion de las llamadas realizadas a cada una de las operaciones es:') 
data[data['item']=='call'].groupby('red')['duracion'].sum()

la duracion de las llamadas realizadas a cada una de las operaciones es:

red
Meteor        7200.0
Tesco        13828.0
Three        36464.0
Vodafone     14621.0
landline     18433.0
voicemail     1775.0
Name: duracion, dtype: float64

In [17]:
print('¿cuantas llamadas, sms y datos son enviados a cada operador ? :') 
data.groupby(['mes','tipo_red'])['fecha'].count()

¿cuantas llamadas, sms y datos son enviados a cada operador ? :

mes      tipo_red
2014-11  data          29
         landline       5
         mobile       189
         special        1
         voicemail      6
2014-12  data          30
         landline       7
         mobile       108
         voicemail      8
         world          4
2015-01  data          31
         landline      11
         mobile       160
         voicemail      3
2015-02  data          31
         landline       8
         mobile        90
         special        2
         voicemail      6
2015-03  data          29
         landline      11
         mobile        54
         voicemail      4
         world          3
Name: fecha, dtype: int64